// ------------------------------
// Meta Boxes
// ------------------------------
.table__meta-box {
	border-collapse: collapse;
	width: 100%;
	word-break: break-all;
	word-wrap: break-word;

	th {
		text-align: left;
	}

	tr {
		border-bottom: 1px solid #e9e9e9;
	}

	td {
		padding: 15px 10px;
	}

	label {
		font-size: .875rem;
		line-height: 2em;
		margin-right: 5px;
	}

	textarea {
		width: 100%;
	}
}

// ------------------------------
// Key / Values Meta Box
// ------------------------------
#post-body #wpdfpads-keyvalue-mb {

	thead th {
		padding: 5px 8px 8px;
		background-color: #f1f1f1;
	}
	.submit {
		border: 0 none;
		float: none;
		padding: 0 8px 8px;

		input {
			margin: 0;
			width: auto;
		}
	}

	#the-list textarea {
		height: 85px;
	}

	table {
		margin: 0;
		width: 100%;
		border: 1px solid #ddd;
		border-spacing: 0;
		background-color: #f9f9f9;

		input,
		select,
		textarea {
			width: 96%;
			margin: 8px;
		}
	}

	tr {
		vertical-align: top;
	}

	th.left,
	td.left {
		width: 38%;
	}

	#newkeyvalueleft a {
		display: inline-block;
		margin: 0 8px 8px;
		text-decoration: none;
	}

}

.no-js #wpdfpads-keyvalues-mb #enternew {
	display: none;
}

/**
 * Style by Daniele Mte90 Scasciafratte
 * Screen: https://github.com/WebDevStudios/CMB2-Snippet-Library/issues/46#issue-181381934
 * Works on options/settings pages and transform the different fields separated by a title like metabox
 * Altered by: Mike Estrada
 */

#wp_dfp_ads_metabox {

	.cmb2-metabox.cmb-field-list {

		& .cmb-row.cmb-type-title {
			padding: 8px 12px;
			margin: 10px 0 0;
			line-height: 1.4;
			border: 1px solid #e5e5e5;
			border-bottom: 1px solid #eee;
		}

		& .cmb-row {
			background: #fff;
			box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );
			padding: 0 12px;
			border: 1px solid #e5e5e5;
			margin-top: -1px;
		}

		& .cmb-th {
			font-weight: initial;
		}

		& .cmb2-metabox-title {
			margin-top: 0;
		}

	}

	input.button-primary[type="submit"] {
		margin-top: 10px;
	}

}
